/node_modules
/public/hot
/public/keycloak.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
.editorconfig
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
_ide_helper.php
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
